<div  style="margin-left:20%; margin-right:20%;" class="border border-secondary">
    <form class="p-3" (submit)="createProduct()" [formGroup]="productform">
      <div class="d-flex gap-2">
        <label for="name" class="fw-bold">ProductName:</label>
        <input type="text" class="form-control"  formControlName="title">
      </div><br>
      <div class="d-flex gap-2">
        <label for="image" class="fw-bold">ImageUrl:</label>
        <input type="url"  class="form-control"  formControlName="image">
      </div><br>
      <div class="d-flex gap-2">
        <label for="description" class="fw-bold">description:</label>
        <input type="text"  class="form-control"  formControlName="description">
      </div><br>
      <div class="d-flex gap-2">
        <label for="price" class="fw-bold">Price:</label>
        <input type="text"  class="form-control"  formControlName="price">
      </div><br>
      <div class="d-flex gap-2">
        <label for="rating" class="fw-bold">Rating:</label>
        <input type="text"  class="form-control"  formControlName="rating">
      </div><br>
      <button class="btn btn-primary d-block mx-auto">Create</button>
    </form>
</div> 


